/*Removes random spacing some browsers add*/
* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*No scroll setup*/
html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/*Centers everything*/
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Happy Monkey", system-ui, sans-serif;
}
